.card {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 450px;
    transition: transform 0.3s ease-in-out; /* Плавное увеличение */
}

.card:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Плавное увеличение изображения */
}

.card:hover .card-img-top {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
